{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="box-element table-responsive">
      <a class= "btn btn-outline-secondary" href="{% url 'store' %}">&#8592; Continue Shopping</a>
      <br>
      <hr>

      <table class='table'>
        <tr>
          <th>Items: {{ items }}</th>
          <th>Total: ${{ total|floatformat:2 }}</th>
          <th style="float: right;"><a class='btn btn-outline-success' href="{% url 'checkout' %}">Checkout</a></th>
        </tr>
      </table>
    </div>

    <br>

    <div class="box-element">
        <div class="cart-row heading-holder">
          <div class="cart-row-heading" style="flex: 1;"></div>
          <div class="cart-row-heading" style="flex: 2;"><strong>Item</strong></div>
          <div class="cart-row-heading" style="flex: 1;"><strong>Price</strong></div>
          <div class="cart-row-heading" style="flex: 1;"><strong>Quantity</strong></div>
          <div class="cart-row-heading" style="flex: 1;"><strong>Total</strong></div>
        </div>
        <hr>
        {% for item in cart %}
        <div class="cart-row item-row">
          <div class="cart-row item thumb-img" style="flex: 1;"><img class="item-thumb" src="{% static 'images/placeholder.png' %}"></div>
          <div class="cart-row item product-text" style="flex: 2;"><p>{{ item }}</p></div>
          <div class="cart-row item product-price" style="flex: 1;"><p>${{ item.product.price|floatformat:2 }}</p></div>
          <div class="cart-row item product-quantity" style="flex: 1;">
            <p class="item-amt">{{ item.quantity }}</p>
            <div class="item-amt up-down">
              <div class="chg-quantity-container">
                <a href="{% url 'increaseqty' item.id %}"><img class="chg-quantity up" src="{% static 'images/arrow-up.png' %}"></a>

                <a href="{% url 'decreaseqty' item.id %}"><img class="chg-quantity down" src="{% static 'images/arrow-down.png' %}"></a>
              </div>
            </div>
          </div>
          <div class="cart-row item product-total-price" style="flex: 1;"><p>${{ item.total|floatformat:2 }}</p></div>
        </div>
        <hr>
        {% endfor %}
    </div>

  </div>
</div>

{% endblock content %}
