{% extends 'store/main.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block active %}
  <div class="form-inline right left-content mr-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}">Store</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cart' %}">Cart<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sellerhome' %}">Sell</a>
      </li>
    </ul>
  </div>
{% endblock active %}
{% block content %}

<script type="text/javascript">

  function reload() {
    location.reload()
  }

</script>
<br>
{% if messages %}
{% for message in messages %}
  <p id="message">{{ message }}</p>
{% endfor %}
{% else %}
{% endif %}
<br>
<br>
<br>
<div class="cart-headings-holder">
  <div class="cart-heading continue-shopping">
    <a href="{% url 'store' %}">&#8592; Continue Shopping</a>
  </div>
  <div class="cart-heading cart-total">
    <p>Total: <span>${{ total|floatformat:2 }} JMD</span></p>
  </div>
  <div class="cart-heading checkout">
    <p class="grow"><a href="{% url 'checkout' %}">Checkout</a></p>
  </div>
</div>
<hr>
{% if cart %}
<div class="row cart-content">
  {% for item in cart%}
    <div class="element-container cart-item">
      <span class="delete-cart-item-x"><a href="{% url 'deleteitem' item.id %}">&#xd7</a></span>
      <div class="cart-product product-image">
        <div class="product-image-holder">
          <a class="link-to-product" href="{% url 'detail' item.product.id %}">
            <img src="{{ item.product.imageURL }}" alt="">
          </a>
        </div>
      </div>
      <div class="cart-product cdetail product-details">
        <div class="cart-product-name">
          <p>{{ item.product.name }}</p>
        </div>
        <div class="cart-product-details">
          <p>{{ item.product.details }}</p>
        </div>
        <div class="cart-product-price-seller-holder">
          <p class="cart-product-price"><span class="cart-product-price-span">${{ item.product.price }} USD</span></p>
          <a href="{% url 'profileview' item.product.product_seller.id item.product.product_seller.user.username %}" class="cart-product-seller grow"><p>{{ item.product.product_seller }}</p></a>
        </div>
      </div>
      <div class="cart-product cdetail product-quantity">
        <div class="chg-quantity-form-holder">
          <form id="quantityinput{{ forloop.counter0 }}" class="form-inline my-2 my-lg-0 chg-quantity chg-form" action="{% url 'changeqty' item.id %}" method="post">
            {% csrf_token %}
            <input class="chg-quantity qty-input" type="number" name="item_quantity" value="{{ item.quantity }}" min="0" />
            <span style="font-size: 20px;">/{{ item.product.amt_available }}</span>
            <a class="submit-qty-chg yes" type="submit" name="reload"><button type="submit"><i class="submit-qty-chg far fa-check-circle grow yes"></i></button></a>
            <a class="submit-qty-chg no" href="{% url 'deleteitem' item.id %}" title="Delete"><i class="submit-qty-chg far fa-times-circle grow no"></i></a>
          </form>
        </div>

      </div>
      <div class="cart-product cdetail product-price">
        <div class="cost-calculate-display">
          <p class="cart-product-price-calculate"><span class="cart-product-price-span">${{ item.product.price }}</span>&nbsp&#xd7&nbsp{{ item.quantity }}</p>
          <p class="cart-product-price-full">${{ item.total|floatformat:2 }} JMD</p>
        </div>
      </div>

    </div>
    <br>
  {% endfor %}
</div>
{% else %}
<br>
<br>
<div class="empty-cart notice">
  <h3>No items in cart</h3>
</div>
{% endif %}
{% block space %}
<div class="" style="height: 100px;">

</div>
{% endblock space%}

<script type="text/javascript">

  var x = document.getElementsByClassName('submit-qty-chg');
  var i;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }

  function show_submit() {
    var y = document.getElementsByClassName('submit-qty-chg');
    var j;
    for (j = 0; j < y.length; j++) {
      y[j].style.display = "block";
    }
  }


  document.querySelectorAll('.chg-form').forEach(item => {
    item.addEventListener('mouseover', event => {
      show_submit()
    })
  })

</script>

{% endblock content %}
