<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <script src="https://use.fontawesome.com/5253f379a4.js"></script>
  <meta charset="utf-8">
  <title>{% block title %} Ecom {% endblock title %}</title>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand site-logo" href="{% url 'store' %}">ChegBase</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block active %}
        <div class="form-inline right left-content">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'shipping' %}">Checkout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sellerhome' %}">Sell</a>
            </li>
          </ul>
        </div>
        {% endblock active %}
        <div class="form-inline my-2 my-lg-0 right middle-content search-form-container">
          <form class="form-inline searchbar-container">
            <input class="form-control mr-sm-2 searchbar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <div class="form-inline my-2 my-lg-0 right right-content">
          <div class="user-content">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle header-icon"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                  <p class="user-username">Hello! {{ user.username }}</p>
                {% else %}
                  <p class="user-username">Guest</p>
                {% endif %}
                <a class="go-to profile-dropdown" href="{% url 'profile' %}">My Profile</a>
                <a class="go-to cart-dropdown" href="{% url 'cart' %}">My Cart</a>
                <a class="go-to checkout-dropdown" href="{% url 'shipping' %}">Go to Checkout</a>
                <div class="dropdown-divider"></div>
                {% if user.is_authenticated %}
                  <a class="login-logout" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="login-logout" href="{% url 'login' %}">Login</a>
                {% endif %}
              </div>
            </li>
          </div>
          <div class="cart">
            <div class="cart-items">
              <div class="quantity-holder">
                {% if user.is_authenticated %}
                  <a href="{% url 'cart' %}"><p id="cart-item-amt">{{ cartquantity }}</p></a>
                {% else %}
                  <a href="{% url 'cart' %}"><p id="cart-item-amt">0</p></a>
                {% endif %}
              </div>
              <div class="cart-icon-holder">
                <a  class="cart-icon-link" href="{% url 'cart' %}">
                  <i class="fas fa-shopping-cart header-icon"></i>
                  <!--<img id='cart-icon' src="{% static 'images/shoppingcart.png' %}" alt="cart">-->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
