{% extends 'store/main.html' %}
{% load static %}

<link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
{% block content %}


<div class="row items-container">
  {% for product in products %}
  <div class="col-lg-3 product-item">
    <div class="product-item-content">
      <div class="thumbnail-holder">
        <img class='thumbnail-img' src="{% static 'images/placeholder.png' %}">
      </div>
      <div class="product-name">
        <a href="#">{{ product.name }}</a>
      </div>
      <div class="product-details">
        <p class="product-details-text"><a href="#">{{ product.details }}</a></p>
      </div>
      <div class="product-price">
        <p class="product-price-text"><strong>${{ product.price|floatformat:2 }}</strong></p>
      </div>
      <div class="add-to-cart-btn">
        <a class="btn btn-outline-success add-to-cart-btn" href="{% url 'addtocart' product.id %}"> Add to Cart</a>
      </div>


    </div>



  </div>

  {% endfor %}
</div>


{% endblock content %}
