{% extends 'seller/home.html' %}
{% load static %}
{% block title %} Seller {% endblock title %}
{% load crispy_forms_tags %}


{% block activehead %}
  <a href="{% url 'sellerhome' %}" class="grow">Home</a>
  <a href="{% url 'createproduct' %}" class="active-seller-heading grow">Submit Product</a>
  <a href="{% url 'sellerproducts' %}" class="grow">My Products</a>
  <a href="{% url 'sales' %}" class="grow">My Sales</a>
  <a href="{% url 'pickup' %}" class="grow">Request Pick-up</a>
  <a href="{% url 'inquiries' %}"class="grow">Payment Inquiries</a>
{% endblock activehead %}



{% block body %}
{% if messages %}
{% for message in messages %}
<p id="message">{{ message }}</p>
{% endfor %}
<br>
<br>
{% endif %}

{% if created %}
  <p></p>
  <br>
  <br>
{% endif %}


<div class="box-element create-product-form-holder form-group">
  <h5 class="light-large-heading">Submit a product</h5>
  <br>
  <div class="inner-form">
    <form class="create-product-form form-group" action="{% url 'createproduct' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ productform|crispy }}
      <br>
      {% if not created %}
        <div class="submitbt-holder">
          <button class="medium-btn" id="submit-product" type="submit" name="button" onclick="this.disabled=true;this.form.submit();">Submit&nbsp <i class="fas fa-upload"></i></button>
        </div>
      {% endif %}

      {% if created %}
        <br>
        <div class="submitbt-holder">
          <a class="medium-btn" href="{% url 'addimages' %}">Add Images</a>
        </div>
        <hr>
        <div id="paypal-button-container" style="display: block;"></div>
        <br>
      {% else %}
        <div id="paypal-button-container" style="display: none;"></div>
      {% endif %}
    </form>
  </div>
</div>


<script>
  function deactivate(){
    var btn = document.getElementById("submit-product");
    btn.disabled = true;
  }
</script>

<script src="https://www.paypal.com/sdk/js?client-id=Afsx3QmWygAjv6jlgNdeziMPx42M3IEJd61E-enTff0qsAlYfZJHXOqsv-nv8c7ZcVBRF5mZongj0Zoa&currency=USD&disable-funding=credit"></script>

<script>


  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  var total = "{{ product.amt_available }}"
  var productId = "{{ product.id }}"

  function sellerPaid(){
    var url = "{% url 'paid' %}"

    fetch(url, {
      method: 'POST',
      headers:{
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body:JSON.stringify({'product_id': productId })
    })
  }

  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({
      style: {
          color:  'blue',
          shape:  'pill',
          label:  'pay',
          height: 40
      },


      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: total * 100
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              // Show a success message to the buyer
              sellerPaid()
              alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
      }


  }).render('#paypal-button-container');
</script>

{% endblock body %}
