{% extends 'seller/home.html' %}
{% load static %}
{% block title %} Change Product {% endblock title %}
{% load crispy_forms_tags %}



{% block activehead %}
  <a href="{% url 'sellerhome' %}" class="slide-down">Home</a>
  <a href="{% url 'createproduct' %}" class="slide-down">Submit Product</a>
  <a href="{% url 'sellerproducts' %}" class="active-seller-heading">My Products</a>
  <a href="{% url 'sales' %}"class="slide-down">My Sales</a>
  <a href="{% url 'pickup' %}" class="slide-down">Request Pick-up</a>
{% endblock activehead %}



{% block body %}

{% if messages %}
  {% for message in messages %}
    <p id="message">{{ message }}</p>
  {% endfor %}
  {% else %}
    <br>
    <h1 class="light-large-heading">Edit Product</h1>
    <br>
{% endif %}


<br>
<div class="edit-product-image-holder">
  <img class="edit-product-image" src="{{ product.imageURL }}" alt="product_image">
</div>
<br>
<form class="create-product-form form-group" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ editform|crispy }}
  <br>
  <small style="text-align: center; display: block;"><span style="color: red;">Warning:</span>&nbsp Editing and existing product will subject that product to re-evaluation.</small>
  <br>
  <div class="submitbt-holder">
    <button class="medium-btn" type="submit" name="button" onclick="this.disabled=true;this.form.submit();">Submit&nbsp<i class="fas fa-history"></i></button>
  </div>
</form>

{% endblock body %}
