{% extends 'store/main.html' %}
{% load static %}
{% block title %} Seller {% endblock %}
{% load crispy_forms_tags %}
{% block active %}
  <div class="form-inline right left-content mr-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'sellerhome' %}">Sell<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
{% endblock active %}
{% block content %}


{% if isseller == False %}
<p>I see you're not a seller. <a href="{% url 'registerseller' %}">Register</a> to become an official seller</p>
<h3>What's a seller?</h3>
<h3>Why become a seller?</h3>

{% else %}

  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <div class="element-container profile-holder profile-view">
        <div id="tier-style" class="seller-profile-pic-holder">
          <img class="seller-profile-pic" src="{{ profile.imageURL }}" alt="">
        </div>
        <div class="seller-profile-view-details">
          <div class="seller-username">
            <h5 class="seller-username-text">{{ profile.user.username }} <a href="{% url 'profile' %}"><i class="fas fa-pencil"></i></a></h5>
          </div>
          <br>
          <div class="seller-profile-view seller-details">
            <div class="seller-details-item age grow">
              <div class="seller-details-svg-holder">
                <img src="{% static 'images/sitesvgs/age.svg' %}" alt="age-svg">
              </div>
              <div class="seller-details-content">
                <p>{{ profile.age }}</p>
              </div>
            </div>
            <div class="seller-details-item gender grow">
              <div class="seller-details-svg-holder">
                <img src="{% static 'images/sitesvgs/gender.svg' %}" alt="">
              </div>
              <div class="seller-details-content">
                <p>{{ profile.get_gender_display }}</p>
              </div>
            </div>
            <div class="seller-details-item tier grow">
              <div class="seller-details-svg-holder">
                <img src="{% static 'images/sitesvgs/ranking.svg' %}" alt="tier">
              </div>
              <div class="seller-details-content">
                <p>{{ profile.tier }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="profile-holder detail-view">
        <h5 class="greet-seller" style="display: inline-block;">Hey {{ profile.user.first_name }}! </h5>
        <img class="hand-wave" src="{% static 'images/sitesvgs/wave.svg'%}" alt="hello waving">
        <br>
        <br>
        <br>
        <div class="detail-view-inner">
          <div class="detail-view-inner-headings">
            {% block activehead %}
              <a href="{% url 'sellerhome' %}" class="active-seller-heading grow">Home</a>
              <a href="{% url 'createproduct' %}" class="grow">Submit Product</a>
              <a href="{% url 'sellerproducts' %}" class="grow">My Products</a>
              <a href="{% url 'sales' %}" class="grow">My Sales</a>
              <a href="{% url 'pickup' %}" class="grow">Request Pick-up</a>
              <a href="{% url 'inquiries' %}" class="grow">Payment Inquiries</a>
            {% endblock activehead %}
          </div>
          <hr>
          {% block body %}
            {% if messages %}
            {% for message in messages %}
            <p id="message">{{ message }}</p>
            {% endfor %}
            {% endif %}
          {% endblock body%}
        </div>
      </div>
    </div>
  </div>

{% endif %}

<script>
// let sellerName = "{{ profile.user.username }}";
// let sellerVouches = "{{ profile.vouches_amt }}";
// let sellerOrders = "{{ sellerorders }}";
  let sellerTier = "{{ profile.tier }}";
</script>

<script src="{% static 'js/tier.js' %}"></script>

{% endblock content%}
