{% extends 'seller/home.html' %}
{% load static %}
{% block title %} Seller {% endblock %}
{% load crispy_forms_tags %}


{% block activehead %}
  <a href="{% url 'sellerhome' %}" class="grow">Home</a>
  <a href="{% url 'createproduct' %}" class="grow">Submit Product</a>
  <a href="{% url 'sellerproducts' %}" class="active-seller-heading grow">My Products</a>
  <a href="{% url 'sales' %}" class="grow">My Sales</a>
  <a href="{% url 'pickup' %}" class="grow">Request Pick-up</a>
  <a href="{% url 'inquiries' %}" class="grow">Payment Inquiries</a>
{% endblock activehead %}


{% block body %}

{% if messages %}
{% for message in messages %}
<p id="message">{{ message }}</p>
{% endfor %}
{% endif %}

{% block current %}
<div class="seller-products-heading-toggler">
  <a class="enlarge" href="{% url 'sellerproducts' %}">All</a>
  <a href="{% url 'restockproducts' %}">Re-Stock</a>
</div>
{% endblock current %}
<br>
<br>
<i class="seller-products fas fa-circle"></i> <span style="font-weight: lighter; font-family: Raleway; opacity: 0.7;"> Re-evaluating</span>
<br>
<br>
<div class="row items-container">
  {% for product in page_obj %}
  <a class="product-link" href="{% url 'detail' product.id %}">
    <div class="col-lg-4 product-item seller-view">
      <div class="product-item-content seller-view">
        <div class="thumbnail-holder">
          <img class='seller-products thumbnail-img' src="{{ product.imageURL }}">
        </div>
        <div class="product-name">
          <p>{{ product.name }}</p>
        </div>
        <div class="product-details">
          <p class="product-details-text">{{ product.details }}</p>
        </div>
        <div class="product-price">
          <p class="product-price-text"><strong>${{ product.price|floatformat:2 }}</strong></p>
          {% if product.re_evaluating %}
          <div class="evaluating-icon-holder">
            <i class="seller-products fas fa-circle"></i>
          </div>
          {% endif %}
        </div>
        <div class="add-to-cart-buy-btn-holder">
          <a class="btn btn-outline-success add-to-cart-btn" href="{% url 'editproduct' product.id %}">Edit</a>
          <a class="btn btn-outline-success buy-btn" href="{% url 'deleteproduct' product.id %}">Delete</a>
          <a class="btn btn-outline-success buy-btn modify-btn" href="{% url 'addimages' product.id 'modify' %}">Add images</a>
          {% if product.paid == False %}
          <a class="btn btn-outline-success buy-btn modify-btn" href="{% url 'productpayment' product.id %}">Pay</a>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<hr>

<div class="pagination">
  <div class="pagination-inner">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a> |
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>

{% endblock body%}
