{% extends 'store/main.html' %}
{% load static %}
{% block title %} Register Seller {% endblock %}
{% load crispy_forms_tags %}

{% block content %}


<form class="form-group signup-login" action="{% url 'registerseller' %}" method="post">
  {% csrf_token %}
  <h1> Official Seller Registration </h1>
  <br>
  {% if messages %}
    {% for message in messages %}
      <p id="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
  <hr>
  <h2>Personal Info</h2>
  <br>
  {{ personalform|crispy }}
  <hr>
  <h2>Contact Info</h2>
  <hr>
  {{ contactform|crispy }}
  <br>
  <br>
  {{ miscform|crispy }}
  <br>
  <br>
  <h2>Home Address</h2><small class="subscript"> ( You may leave blank if your home address is the same as your shipping address )</small>
  <br>
  <hr>
  {{ addrform|crispy }}

  <div class="submitbt-holder">
    <button class="btn btn-outline-success submit" type="submit" name="submitbt"><a href="{% url 'registerseller' %}"></a>Next</button>
  </div> <!-- take out this button when the other form is put in so that one button can submit everything-->
</form>
{% endblock %}
