{% extends 'seller/home.html' %}
{% load static %}
{% block title %} Seller {% endblock %}
{% load crispy_forms_tags %}


{% block activehead %}
  <a href="{% url 'sellerhome' %}" class="grow">Home</a>
  <a href="{% url 'createproduct' %}" class="grow">Submit Product</a>
  <a href="{% url 'sellerproducts' %}" class="grow">My Products</a>
  <a href="{% url 'sales' %}" class="active-seller-heading grow">My Sales</a>
  <a href="{% url 'pickup' %}"  class="grow">Request Pick-up</a>
  <a href="{% url 'inquiries' %}" class="grow">Payment Inquiries</a>
{% endblock activehead %}

{% block body %}
<br>
<div class="sales-view-heading">
  <h3 class="sales-intro">As of {{ today }} you've earned:</h3>
  <p class="total-earned">${{ total|floatformat:2 }} USD</p>
</div>
<hr>
<br>
{% if order_items %}
{% for item in page_obj %}
  <div class="row sale-receipt">
    <div class="sales-view col-lg-12">
      <div class="sales-view product-image">
        <img class="sales-view product-thumbnail-img" src="{{ item.imageURL }}" alt="product-thumbnail-image">
      </div>
      <div class="sales-view product-details">
        <div class="sales-view product-details-name">
          <p>{{ item.name }}</p>
        </div>

        <div class="sales-view product-details-price">
          <p>Price: ${{ item.price|floatformat:2 }}</p>
        </div>
      </div>
      <div class="sales-view sale-details">
        <div class="sales-view items-sold">
          <p>On {{ item.p_date }} at {{ item.p_time }}</p>
          <p>{{ item.quantity }} item{{ item.quantity|pluralize }} sold /<span> {{ item.products_left }} item{{ item.products_left|pluralize }} remaining </span></p>
        </div>
        <div class="sales-view money-earned">
          <p>${{ item.total|floatformat:2 }} earned</p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endfor %}
<hr>
<div class="pagination">
  <div class="pagination-inner">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a> |
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
{% else %}
<br>
<br>
  <div class="no-sales-notice">
    <div class="">
      <h3 class='no-sales'>You've made no sales as yet.</h3>
    </div>
    <div class="">
      <img src="{% static 'images/sitesvgs/cryingdinosaur.svg'%}" alt="cryingdinosar">
    </div>
  </div>
{% endif %}

{% endblock body%}
