.navbar-nav {
  margin-right: 20px;
}

.form-inline.right.left-content, .form-inline.my-2.my-lg-0.right.middle-content, .form-inline.my-2.my-lg-0.right.right-content {
  width: auto;
}

.form-inline.right.left-content {
  margin-right: auto;
}

.form-inline.my-2.my-lg-0.right.middle-content {
  margin: auto;
  width: 60%;
}

.form-inline.my-2.my-lg-0.right.right-content {
  margin-left: auto;
  width: 20%;
}

.form-inline.searchbar-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.form-control.mr-sm-2.searchbar {
  width: 75%;
}

.form-inline.my-2.my-lg-0.right.right-content {
  display: flex;
  justify-content: space-between;
}

.nav-item.dropdown {
  list-style: none;
}

.dropdown-toggle::after {
  color: black;
}

.dropdown-menu.show {
  padding: 10px;
  text-align: center;
  height: auto;
  min-width: 150px;
  width: auto;
}

.dropdown-menu.show a:hover {
  background-color: #F9FEFD;
  text-decoration: none;
}


.go-to {
  display: block;
  text-align: left;
}

.header-icon {
  color: black;
}

.far.fa-user-circle {
  font-size: 30px;
  font-style: normal;
}

.user-content {
  width: 40%;
}

.user-username {
  color: black;
}

.cart {
  width: 40%;
}

.fas.fa-shopping-cart {
  font-size: 30px;
}


.cart-items {
  display: inline-block;
  width: 37px;
  max-width: 37px;
  position: relative;
}

#cart-item-amt {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #EC7063;
  height: 25px;
  width: 25px;
  margin: auto;
}

.cart-icon-holder {
  position: relative;
  z-index: 1;
}

.quantity-holder {
  position: absolute;
  width: inherit;
  height: inherit;
  top: -7px;
  z-index: 2;
  text-align: center;
}

.quantity-holder a {
  text-decoration: none;
}

.cart-icon-link:hover {
  text-decoration: none;
}

/* store styling */

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}

.grow-small {
transition: all .15s ease-in-out;
}

.grow-small:hover {
transform: scale(1.01);
}

.shrink {
transition: all .2s ease-in-out;
}

.shrink:hover {
transform: scale(0.9);
}

.categories {
  display: flex;
  flex-direction: row;
}

.categories p {
  margin: 0;
}

.categories-links-btn {
  border: 1px solid #E5E8E8;
  border-radius: 5px;
  background-color: #E5E8E8;
  padding: 10px;

}

.categories-links-btn:hover {
  text-decoration: none;
}


.categories-options.heading-introduce {
  width: 10%;
}

.categories-options {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.row.items-container {
  margin-right: 0;
  /*justify-content: center;*/
}

.product-link:hover p {
  color: dodgerblue;
}

.product-link:hover .product-price-text {
  color: black;
}


.col-lg-3.product-item {
  margin-bottom: 25px;
  height: auto;
  min-height: 350px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.product-item-content {
  padding: 5px;
  /*box-shadow: 0 0 16px hsl(0, 0%, 80%);*/
  height: auto;
  min-height: 363px;
  overflow: hidden;
}

.product-item-content a {
  color: black;
}

.product-item-content a:hover {
  text-decoration: none;
}

.thumbnail-holder {
  width: 80%;
  height: 300px;
  margin-bottom: 10px;

}

.thumbnail-img {
  width: 100%;
  height: 100%;
}

.product-name {
  height: auto;
  min-height: 25px;
}
.product-name p {
  font-weight: 600;
  line-height: 16px;
}

.product-name a:hover {
  color: dodgerblue;
}

.product-details {
  height: auto;
  min-height: 30px;
}

.product-details-text {
  font-size: 10px;
  height: auto;
  margin-bottom: 10px;
}


.product-details-text a:hover {
  color: dodgerblue;
}

.product-price {
  height: auto;
  min-height: 20px;
}
.product-price-text {
  margin-bottom: 10px;
}

.box-element {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 16px hsl(0, 0%, 80%);
  padding: 10px;
}

.product {

}

.btn.btn-outline-success.add-to-cart-btn, .btn.btn-outline-success.buy-btn  {
  border-radius: 0;
  color: #EC7063;
  border-color: #EC7063;
  transition: all .1s ease-in-out;
}

.btn.btn-outline-success.add-to-cart-btn:hover, .btn.btn-outline-success.buy-btn:hover {
  color: white;
  background-color: #EC7063;
  text-decoration: none;
}


.btn.btn-outline-success.add-to-cart-btn:focus, .btn.btn-outline-success.buy-btn:focus,
.btn.btn-outline-success.add-to-cart-btn:active, .btn.btn-outline-success.buy-btn:active,
.btn.btn-outline-success.add-to-cart-btn:focus:active, .btn.btn-outline-success.buy-btn:focus:active {
  background-image: none;
  transform: scale(0.9);
  -webkit-box-shadow: none;
  border: 1px solid #EC7063;
}
.pagination {
  text-align: center;
  width: 200px;
  margin: auto;
}

.pagination-inner {
  width: 100%;
  margin: auto;
}


/*detail view*/
.large-image-view {
  max-width: 100%;
  border: 1px solid black;
}

.large-image-view img{
  width: 100%;
}

.large-get-product-view {
  text-align: center;
  width: auto;
  max-width: 300px;
  margin: auto;
}

.form-group.detail.amt-change-form {
  width: auto;
  display: inline-block;
}

.form-group.detail.amt-change-form input {
  width: 140px;
}


.detail.detail-add-to-cart-btn {
  margin-bottom: 10px;
}

.box-element.detail-container {
  border-radius: 5px;
  box-shadow: 0 0 5px hsl(0, 0%, 80%);
  padding: 15px;
}


/*cart*/
span.item-price {
  font-weight: bolder;
  float: right;
}

.item-thumb {
  width: 100px;
  height: 100%;
}

.item-amt {
  display: inline-block;
}

.item-details {
  line-height: 134px;
}

.chg-quantity.qty-input {
  width: auto;
  min-width: 40px;
  max-width: 45px;
  margin-right: 5px;
}

.cart-row {
  display: flex;

}

.cart-row.item-row {
  position: relative;
  height: 150px;
}

.cart-row.item-row p {
  margin: 0;
}

.submit-qty-chg button{
  border: none;
  background-color: transparent;
}

.submit-qty-chg button:focus {
  outline: none;
}

.submit-qty-chg.no {
  text-decoration: none;
  color: black;
}

a.submit-qty-chg.no{
  text-decoration: none;
  color: inherit;
}


/*login form styling*/

.login-form {
  max-width: 500px;
  margin: auto;
}

.form-control:focus, .form-control:focus {
  box-shadow: none;
}


.submitbt-holder {
  text-align: center;
}

.submitbt-holder button {
  display: inline-block;
}

.btn.btn-outline-success.submit {
  color: dodgerblue;
  border-radius: 5px;
  border-color: dodgerblue;
}

.btn.btn-outline-success.submit:hover {
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.sign-up-q {
  display: inline-block;
  margin: auto;
}

.form-group.signup-login {
  max-width: 500px;
  margin: auto;
}

/* checkout */
.row.checkout-content {
  display: flex;
  height: 500px;
  justify-content: space-between;
}

.col-lg.checkout-section.left {
  flex: 2;
  height: auto;
  min-height: 500px;
}

.col-lg.checkout-section.right {
  flex: 1;
  height: auto;
}

.section-content {
  padding: 10px;
  box-shadow: 0 0 16px hsl(0, 0%, 80%);
  height: 100%;
}

.section-heading p {
  margin: 0;
  font-size: 20px;
}

.order-item {
  display: flex;
  padding: 5px;
  height: 150px;
}

.cart-row.item.thumb-img.order {
  padding: 1px;
  width: 120px;
  margin-right: 20px;
}

.cart-row.item.thumb-img.order img {
  width: 100%;
}

.item-thumb.order {
  width: 150px;
  height: 100%;
}

.order-item-details {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-item-details p {
  margin: 0;
}

.order-item-name {
  height: 50px;
}

.shipping-content p {
  margin: 0;

}
.far, .fab, .fas {
  font-family: "FontAwesome";
  font-style: normal;
}

.far.fa-credit-card{

}

.fas.fa-lock {
  color: inherit;
  font-style: normal;
}


.btn.btn-outline-secondary.payment{
  display: block;
  margin: 10px;
}

.btn.btn-outline-success.checkout-submit-btn {
  font-size: 20px;
  background-color: #28a745;
  margin-bottom: -15px;
  height: 50px;
  line-height: 35px;
  width: 100%;
  color: white;
  border-radius: 0;
}


.btn.btn-outline-success.checkout-submit-btn:hover {
  background-color: white;
  color: black;
}


/* seller */

.box-element.create-product-form-holder {
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
}

.box-element.create-product-form-holder form .inner-form {
  margin: auto;
}

.create-product-form input.form-control, {
  width: 100%;

}

.create-product-form input#id_price, .create-product-form input#id_amt_available,
.create-product-form select.form-control {
  width: 35%;
}

.create-product-form .form-group {
  display: flex;
}

.create-product-form .form-group label {
  flex: 1;
}

.create-product-form .form-group div {
  flex: 4;
}


/* admin */

.admin.row.items-container {
  height: auto;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}

.col-lg-3.product-item.admin-view {
  max-width: 100%;
  height: auto;
}

form.admin-view {
  display: inline-block;
  width: 295px;
}

form.form-group.admin-view textarea {
  width: 100%;
}

.paid-verify-publish-btn-holder {
  width: auto;
  margin: auto;
  margin-top: 10px;

}

.paid-verify-publish-btn-holder a {
  color: white;
  background-color: #F32525;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: all .1s ease-in-out;

}

.paid-verify-publish-btn-holder a:hover {
  background-color: white;
  border-color: #F32525;
  color: #F32525;
}


.admin.btn.btn-outline-success:focus, .admin.btn.btn-outline-success:active,
.admin.btn.btn-outline-success:focus:active {
  background-image: none;
  background-color: transparent;
  transform: scale(0.9);
  -webkit-box-shadow: none;
  border: 1px solid #F32525;
  color: #F32525;
}

.admin.btn.btn-outline-success.paid, .admin.btn.btn-outline-success.verified  {
  background-color: #27B91E;
}

.admin.btn.btn-outline-success.paid:hover, .admin.btn.btn-outline-success.verified:hover {
  background-color: #27B91E;
  border-color: #27B91E;
  color: white;
}
