.form-inline.right.left-content {
  width: 17%;
}

.navbar-nav {
  margin-right: 20px;
}

.form-inline.my-2.my-lg-0.right.middle-content {
  width: 70%;
}

.form-inline.my-2.my-lg-0.right.right-content {
  width: 13%;
}

.form-inline.searchbar-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.form-control.mr-sm-2.searchbar {
  width: 87%;
}

.form-inline.my-2.my-lg-0.right.right-content {
  display: flex;
  justify-content: space-between;
}

.nav-item.dropdown {
  list-style: none;
}

.dropdown-toggle::after {
  color: white;
}

.dropdown-menu.show {
  padding: 10px;
  text-align: center;
  height: auto;
  min-width: 150px;
  width: auto;
}

.dropdown-menu.show a:hover {
  background-color: #F9FEFD;
  text-decoration: none;
}


.go-to {
  display: block;
  text-align: left;
}

.far.fa-user-circle {
  font-size: 30px;
  font-style: normal;
  color: white;
}

.user-content {
  width: 40%;
}

.user-username {
  color: black;
}

.cart {
  width: 40%;
}

.cart-items {
  display: inline-block;
  width: 37px;
  max-width: 37px;
  position: relative;
}

#cart-item-amt {
  margin: 0;
  text-align: center;
  color: dodgerblue;
  font-weight: bold;
}

.cart-icon-holder {
  position: relative;
}

.quantity-holder {
  position: absolute;
  width: inherit;
  height: inherit;
  top: -7px;
}

.cart-icon-link:hover {
  text-decoration: none;
}

/* store styling */
.row.items-container {
  margin-right: 0;
}

.col-lg-3.product-item {
  margin-bottom: 25px;
  height: auto;
  min-height: 350px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.product-item-content {
  padding: 5px;
  /*box-shadow: 0 0 16px hsl(0, 0%, 80%);*/
  height: auto;
  min-height: 363px;
  overflow: hidden;
}

.product-item-content a {
  color: black;
}

.product-item-content a:hover {
  text-decoration: none;
}

.thumbnail-holder {
  width: 80%;

}

.thumbnail-img {
  width: 100%;
  height: 170px;
}

.product-name {
  height: auto;
  min-height: 25px;
}
.product-name a {
  font-weight: 600;
}

.product-name a:hover {
  color: dodgerblue;
}

.product-details {
  height: auto;
  min-height: 30px;
}

.product-details-text {
  font-size: 10px;
  height: 30px;
  margin-bottom: 10px;
}


.product-details-text a:hover {
  color: dodgerblue;
}


.product-price-text {
  margin-bottom: 10px;
}

.box-element {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 16px hsl(0, 0%, 80%);
  padding: 10px;
}

.product {

}

.btn.btn-outline-success.add-to-cart-btn {
  border-radius: 0;
  color: green;
}

.btn.btn-outline-success.add-to-cart-btn:hover {
  color: white;
  text-decoration: none;
}





/*cart*/
span.item-price {
  font-weight: bolder;
  float: right;
}

.item-thumb {
  width: 100px;
  height: 90px;
}

.item-amt {
  display: inline-block;
}


.item-amt.up-down {
  margin-left: 3px;
  height: 90px;
  width: 10px;
  position: relative;
}

.chg-quantity-container {
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 10px;
}

.chg-quantity {
  display: block;
  width: 10px;
}

.chg-quantity:hover {
  background-color: #D3D3D3;
}

.chg-quantity:active {
  background-color: white;
}

.chg-quantity.up {
  margin-bottom: 3px;
}

.cart-row {
  display: flex;

}

.cart-row.item-row {
  position: relative;
}

.cart-row.item p{
  line-height: 90px;
}



/*login form styling*/

.login-form {
  max-width: 500px;
  margin: auto;
}

.form-control:focus, .form-control:focus {
  box-shadow: none;
}


.submitbt-holder {
  text-align: center;
}

.submitbt-holder button {
  display: inline-block;
}

.btn.btn-outline-success.submit {
  color: dodgerblue;
  border-radius: 5px;
  border-color: dodgerblue;
}

.btn.btn-outline-success.submit:hover {
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.sign-up-q {
  display: inline-block;
  margin: auto;
}

.form-group.signup-login {
  max-width: 500px;
  margin: auto;
}

/* checkout */
.row.checkout-content {
  display: flex;
  height: 500px;
  justify-content: space-between;
}

.col-lg.checkout-section.left {
  flex: 2;
  height: auto;
  min-height: 500px;
}

.col-lg.checkout-section.right {
  flex: 1;
  height: auto;
}

.section-content {
  padding: 10px;
  box-shadow: 0 0 16px hsl(0, 0%, 80%);
  height: 100%;
}





.section-heading p {
  margin: 0;
  font-size: 20px;
}

.order-item {
  display: flex;
  padding: 5px;
  height: 130px;
}

.cart-row.item.thumb-img.order {
  padding: 1px;
}

.item-thumb.order {
  width: 150px;
  height: 100%;
}

.order-item-details {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-item-details p {
  margin: 0;
}

.order-item-name {
  height: 50px;
}

.shipping-content p {
  margin: 0;

}
.far, .fab, .fas {
  font-family: "FontAwesome";
}

.far.fa-credit-card{

}

.fas.fa-lock {
  color: inherit;
  font-style: normal;
}


.btn.btn-outline-secondary.payment{
  display: block;
  margin: 10px;
}

.btn.btn-outline-success.checkout-submit-btn {
  font-size: 20px;
  background-color: #28a745;
  margin-bottom: -15px;
  height: 50px;
  line-height: 35px;
  width: 100%;
  color: white;
  border-radius: 0;
}


.btn.btn-outline-success.checkout-submit-btn:hover {
  background-color: white;
  color: black;
}
