{% extends 'store/main.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% load crispy_forms_tags %}
{% block active %}
  <div class="form-inline right left-content mr-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'checkout' %}">Checkout<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sellerhome' %}">Sell</a>
      </li>
    </ul>
  </div>
{% endblock active %}

{% block content %}

{% if messages %}
{% for message in messages %}
<p id="message">{{ message }}</p>
{% endfor %}
<br>
{% else %}
<h1 style="text-align: center;">Checkout</h1>
<br>
<br>
{% endif %}


{% if single %}
<p id="message"><strong>Warning: </strong> You are viewing your quick buy items,
to checkout the items in your cart instead, please <a href="{% url 'delsingle' %}">remove</a>
these items.</p>
{% endif %}
<div class="row checkout-content">
  <div class="col-lg checkout-section left">
    <div id="order-details" class="section-content left">
      <div class="section-heading">
        <p class="checkout-heading"></p>
      </div>
      <hr>
      <div class="cart-total-heading">
        <p>Cart total: <span>${{ cart_total|floatformat:2 }} USD</span></p>
      </div>
      <br>
      <div class="order-details-content" style="height: 100%;">
        {% if single %}
        {% for single in single %}
        <div class="order-item">

          <div class="cart-row item thumb-img order">
            <img class="item-thumb order" src="{{ single.product.imageURL }}">
          </div>
          <div class="order-item-details">
            <div class="order-item-name">
              <p>{{ single.product.name }}</p>
            </div>
            <div class="order-item-quantity">
              <form id="input" class="form-inline my-2 my-lg-0 chg-quantity chg-form" action="{% url 'checkoutchangeqty' single.id 'single' %}" method="post">
                {% csrf_token %}
                <input id="itemquantity" class="chg-quantity qty-input" type="number" name="item_quantity" value="{{ single.quantity }}" />
                <a class="submit-qty-chg yes" type="submit" name="reload" onclick="reload()"><button type="submit"><i class="submit-qty-chg far fa-check-circle grow yes"></i></button></a>
              </form>
              <div class="seller-info">
                <p>from <a href="{% url 'profileview' single.product.product_seller.id single.product.product_seller.user.username %}">{{ single.product.product_seller }}</a></p>
              </div>
            </div>
            <div class="order-item-price">
              <p> Total: ${{ single.total|floatformat:2 }} </p>
            </div>
          </div>
          <div class="x-icon-holder">
            <a href="{% url 'deletecartitem' single.id 'single' %}"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {% endfor %}
        {% else %}
          {% if not empty %}
            {% for item in order_items %}
              <div class="order-item">

                <div class="cart-row item thumb-img order">
                  <img class="item-thumb order" src="{{ item.product.imageURL }}">
                </div>
                <div class="order-item-details">
                  <div class="order-item-name">
                    <p>{{ item.product.name }}</p>
                  </div>
                  <div class="order-item-quantity">
                    <form id="input" class="form-inline my-2 my-lg-0 chg-quantity chg-form" action="{% url 'checkoutchangeqty' item.id 'cart' %}" method="post">
                      {% csrf_token %}
                      <input id="itemquantity" class="chg-quantity qty-input" type="number" name="item_quantity" value="{{ item.quantity }}" />
                      <a class="submit-qty-chg yes" type="submit" name="reload" onclick="reload()"><button type="submit"><i class="submit-qty-chg far fa-check-circle grow yes"></i></button></a>
                    </form>
                    <div class="seller-info">
                      <p>from <a href="{% url 'profileview' item.product.product_seller.id item.product.product_seller.user.username %}" class="seller-profile-link">{{ item.product.product_seller }}</a></p>
                    </div>
                  </div>
                  <div class="order-item-price">
                    <p> Total: ${{ item.total|floatformat:2 }} </p>
                  </div>
                </div>
                <div class="x-icon-holder">
                  <a href="{% url 'deletecartitem' item.id 'cart' %}"><i class="fas fa-times"></i></a>
                </div>
              </div>
              <br>
            {% endfor %}
          {% else %}
          <h6 id="message"> No items in cart </h6>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-lg checkout-section-right container">
    <div class="col-lg checkout-section right upper">
      <div class="section-content right">
        <div class="section-content-shipping">
          <div class="shipping-heading">
            <p class="checkout-heading"> Shipping to </p>
          </div>
          <div class="shipping-content">
            <div class="shipping-content-body">
              <p>{{ user.first_name}} {{ user.last_name }}</p>
              <p>{{address.address_line1}}</p>
              <p>{{address.address_line2}}</p>
              <p>{{address.state}}</p>
              <p>{{address.zip_code}}</p>
              <p>{{address.get_country_display}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg checkout-section right lower">
      <p class="section-content" style="font-weight: lighter; font-size: 13px; padding-left: 15px; text-align: center;">It is highly recommended to refresh page before paying, this is
        to ensure that the products you have added to your cart hasn't been bought by another
        user.</p>
      <div class="section-content right">
        <div class="payment-info">
          <div class="payment-heading">
            <p class="checkout-heading"> Payment Options </p>
          </div>
          {% if not empty %}
            <div id="paypal-holder">
              <div id="paypal-button-container" onmouseover="ishovered()" onmouseout="unhovered()"></div>
              <div id="paypal-refreshbtn"></div>
            </div>
          {% else %}
            <div id="paypal-holder" style="display: none;">
              <div id="paypal-button-container" onmouseover="ishovered()" onmouseout="unhovered()"></div>
              <div id="paypal-refreshbtn"></div>
            </div>
            <h3 class="light-small-heading" style="color: green;">Add items to your cart to view payment options.</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Afsx3QmWygAjv6jlgNdeziMPx42M3IEJd61E-enTff0qsAlYfZJHXOqsv-nv8c7ZcVBRF5mZongj0Zoa&currency=USD&disable-funding=credit"></script>
<script>
  var count = 0;
  var showPaypal = true;
  var mouseover = false;

  function ishovered() {
    mouseover = true;
  }

  function unhovered() {
    mouseover = false;
    count = 1;
  }

  window.onload = function() {

    function reload() {
      location.reload();
    }


    function counter() {
      setInterval(
      function increment() {
          count++;
          if (count >= 20) {
            showPaypal = false;
            if (mouseover == false && count == 20) {
              hidePaypal();
            }
          }

          if (showPaypal == true && count == 1) {
            paypalStuff();
          }
          if (showPaypal == false){

          }
      }, 1000);
    }
    counter()
  }

  function hidePaypal() {
    document.getElementById('paypal-button-container').style.display = 'none';
    let paypalHolder = document.getElementById('paypal-holder');
    let refreshBtnHolder = document.getElementById('paypal-refreshbtn');
    let refreshButtoninnerHldr = document.createElement('div');
    let refreshButton = document.createElement('button');
    let p = document.createElement('p');
    let text = document.createTextNode('To safeguard against incorrectly displayed stock, please refresh this page to view payment options. Note: after refreshing page, if no action is taken within 20 seconds this message will be re-displayed.');

    refreshButtoninnerHldr.setAttribute('class', 'refreshbtn-holder');
    refreshButton.setAttribute('onclick', "location.reload()")
    p.setAttribute('class', 'refresh-p');
    refreshButton.setAttribute('type', 'button');
    refreshButton.textContent = "Refresh";
    refreshButton.setAttribute('class', 'btn btn-outline-primary refreshbtn');

    paypalHolder.appendChild(p);
    p.appendChild(text);
    paypalHolder.appendChild(refreshBtnHolder);
    refreshButtoninnerHldr.appendChild(refreshButton);
    refreshBtnHolder.appendChild(refreshButtoninnerHldr);
  }

  function paypalStuff() {
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    function completeOrder() {
      var url = "{% url 'complete' %}"

      fetch(url, {
        method: 'POST',
        headers:{
          'Content-type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
      })
    }

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40,
        },

        // place the check stock right here
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: {{ cart_total|floatformat:2 }}
                    }
                }]
            });
        },
        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                completeOrder()
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
  }


</script>


{% endblock %}
